body {
  background: #f2f4f8;
  font-family: Arial, sans-serif;
}

.products {
  display: grid;
  grid-template-columns:repeat(3, 1fr);;
  gap: 20px;
  padding: 20px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  text-align: left;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin: 12px 0 6px;
  font-size: 18px;
  font-weight: bold;
}

.brand {
  font-size: 14px;
  color: #666;
}

.price {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.btn {
  background: #0b73ee;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  background: #095ec3;
}
